<!--search and paginate.ejs-->


<h1 class="title">
    Coupons
</h1>
<p class="subtitle">
    You deserve me!
</p>
<hr>



<div  class="columns">
    <div class="column is-two-third">
        <div class="container">
            <div id="SearchedCoupons" class="columns">
            </div>
        </div>
    </div>
    <div class="column is-one-third"> 
        <form action="/person/search" method="POST" onsubmit="submitForm(this);return false">       
            <div class="field">
                <label class="label">Region</label>
                <div class="control">
                    <div class="select">
                        <select name="Region">
                            <option value="">Not Specificed</option>
                            <option value="HK Island">HK Island</option>
                            <option value="Kowloon">Kowloon</option>
                            <option value="New Territories">New Territories</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Min Coins</label>
                <div class="control">
                    <input name="Min_Coins" class="input" type="number" placeholder="number">
                </div>
            </div>

            <div class="field">
                <label class="label">Max Coins</label>
                <div class="control">
                    <input name="Max_Coins" class="input" type="number" placeholder="number">
                </div>
            </div>
            <div class="field">
                <label class="label">Expired Date</label>
                <div class="control">
                    <input name="Expired_Date" class="input" type="date" placeholder="date"></input>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button type="reset" class="button is-link is-light">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous" id="previousButton">Previous</a>
    <a class="pagination-next" id="nextButton">Next page</a>
    <ul class="pagination-list">
        <li>
            <a class="pagination-link" id="firstLink">1</a>
        </li>
        <li>
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
            <a class="pagination-link" id="previousLink">45</a>
        </li>
        <li>
            <a class="pagination-link is-current" id="currentLink">46</a>
        </li>
        <li>
            <a class="pagination-link" id="nextLink">47</a>
        </li>
        <li>
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
            <a class="pagination-link" id="lastLink">86</a>
        </li>
    </ul>
</nav>

<script>
    function setPagination(limit,offset) {

        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");
        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");
        var firstLink = document.getElementById("firstLink");
        var lastLink = document.getElementById("lastLink");

        var numOfRecords = parseInt("<%= numOfRecords %>");
        // var limit = 2;
        // var offset = Math.max(parseInt("<%= req.query.offset %>"), 0) || 0;;

        var baseUrl = "/person/aginate?limit=" + limit + "&offset=";

        // firstLink.href = baseUrl + 0;
        // previousButton.href = baseUrl + (offset - limit);
        // previousLink.href = baseUrl + (offset - limit);
        // currentLink.href = baseUrl + offset;
        // nextLink.href = baseUrl + (offset + limit);
        // nextButton.href = baseUrl + (offset + limit);
        // lastLink.href = baseUrl + (Math.ceil(numOfRecords / limit) - 1) * limit;
        firstLink.onclick=function() { fetchPage(limit, 0);}
        previousButton.onclick=function() { fetchPage(limit, offset-limit);}
        previousLink.onclick=function() { fetchPage(limit, offset-limit);}
        currentLink.onclick = function() { fetchPage(limit, offset);}
        nextLink.onclick = function() { fetchPage(limit, offset + limit);}
        nextButton.onclick = function() { fetchPage(limit, offset + limit);}
        lastLink.onclick = function() {fetchPage(limit,(Math.ceil(numOfRecords / limit) - 1) * limit); }

        var currentPageNumber = Math.floor(offset / limit) + 1;

        previousLink.innerHTML = currentPageNumber - 1;
        currentLink.innerHTML = currentPageNumber;
        nextLink.innerHTML = currentPageNumber + 1;
        lastLink.innerHTML = Math.ceil(numOfRecords / limit);

        if (offset < limit) {
            previousButton.setAttribute("disabled", true);
            previousButton.href = "";
            previousLink.style.display = "none";
        }else {
            previousButton.removeAttribute("disabled");
            previousLink.style.display="block";
        }

        if (offset + limit >= numOfRecords) {
            nextButton.setAttribute("disabled", true);
            nextButton.href = "";
            nextLink.style.display = "none";
        }else{
            nextButton.removeAttribute("disabled");
            nextLink.style.display="block";
        }
        if(numOfRecords<=2){
            firstLink.href="";
            lastLink.href="";
        }
    };

    setPagination();

</script>

<script>
    async function fetchPage(limit,offset) {

        var response = await fetch("/person/aginate?limit=" + limit + "&offset=" + offset);


        if (response.ok) {
            var coupons = await response.json();

            var dynamicCode="";


            coupons.forEach(function (coupon) {
                // dynamicCode += "<tr><td>" + person.name + "</td><td>" + person.age + "</td></tr>";
                string1='<div class="column is-half"><div class="card"><div class="card-image"><figure class="image is-4by3">'
                string2='<a href="../person/read/'+ coupon.id+ '"><img src="'+ coupon.Image+'" alt="Placeholder image"></a></figure></div>'
                string3='<div class="card-content"><div class="media"><div class="media-content"><p class="title is-4">'+coupon.Restaurant+'</p></div></div>'
                string4='<div class="content">'+coupon.Title+'<br><div>Coins:'+coupon.Coins+'</div></div></div></div></div>'
                dynamicCode+=string1+string2+string3+string4
            });

            document.querySelector("#SearchedCoupons").innerHTML = dynamicCode;
            setPagination(limit, offset);
        } else {
            alert(response.status + ": " + response.statusText)
        }
    };

    fetchPage(2,0);


</script>

<script>
    async function submitForm(formElem) {

        var response = await fetch(formElem.action, {
            method: formElem.method,
            body: new FormData(formElem),
        });

        if (response.ok) {
            var coupons = await response.json();
            var dynamicCode="";
            coupons.forEach(function (coupon) {
                // dynamicCode += "<tr><td>" + person.name + "</td><td>" + person.age + "</td></tr>";
                string1='<div class="column is-half"><div class="card"><div class="card-image"><figure class="image is-4by3">'
                string2='<a href="../person/read/'+ coupon.id+ '"><img src="'+ coupon.Image+'" alt="Placeholder image"></a></figure></div>'
                string3='<div class="card-content"><div class="media"><div class="media-content"><p class="title is-4">'+coupon.Restaurant+'</p></div></div>'
                string4='<div class="content">'+coupon.Title+'<br><div>Coins:'+coupon.Coins+'</div></div></div></div></div>'
                dynamicCode+=string1+string2+string3+string4
            });

            document.querySelector("#SearchedCoupons").innerHTML = dynamicCode;
            
        } else if (response.status == 401) {
            var msg = await response.json();
            alert(msg);
        } else {
            alert(response.statusText);
        }
    };
</script>